Body {
  background-color: #fff8dc;
  color: #2f4f4f;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 3px;
  width: 50%;
}

h1 {
  color: #66BFBF;
}

h3 {
  color: #66BFBF;
}
